.element-container{
    display: flex;
    height: 100%;
    width: 100%;
}
.left-element{
    flex:2.25;
}
.right-element{
    flex:17.75;
    display: flex;
    flex-direction: column;
}
.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.douyin-icon-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}
.douyin-icon-box {
    height: 80px;
    display: flex;
    justify-content: center;
}
.douyin-icon {
    position: fixed;
    --logo-url: url(//lf3-cdn-tos.bytegoofy.com/obj/goofy/ies/douyin_web/media/logo-horizont-dark.68c22817059ee9a7.svg) no-repeat;
    --logo-small-url: url(//lf3-cdn-tos.bytegoofy.com/obj/goofy/ies/douyin_web/media/logo-horizontal-small-dark.04fa81ed0b1d6d5e.svg) no-repeat;
    --logo-transparent-url: url(//lf3-cdn-tos.bytegoofy.com/obj/goofy/ies/douyin_web/media/logo-horizont-dark.68c22817059ee9a7.svg) no-repeat;
    --color-secondary-default: #363741;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--color-secondary-default) transparent;
    scrollbar-width: thin;
    box-sizing: border-box;
    outline: none;
    font-family: PingFang SC, DFPKingGothicGB-Regular, sans-serif;
    color: inherit;
    text-decoration: none;
    position: relative;
    transition: opacity .3s;
    display: block;
    -webkit-app-region: no-drag !important;
    opacity: 1;
}
@media (max-width: 1280px) {
    .left-element {
        flex:none;
        width: 72px;
    }
    .douyin-icon{
        top:12px;
        background-size: 36px 60px !important;
        width: 36px;
        height: 60px;
        background: var(--logo-small-url);
    }
}
@media (min-width: 1280px) {
    .left-element {
        flex:none;
        width: 144px;
    }
    .douyin-icon{
        top: 24px;
        background-size: 108px 32px !important;
        width: 108px;
        height: 32px;
        background: var(--logo-url);
    }
}